In [7]:
import pandas as pd
import sqlite3

#importação dataframe e renomeando colunas
df = pd.read_csv('./reading_habits.csv')
df.rename(columns={'Read any e-books during last 12months?': 'Ebook_readers', 'Age Range': 'Age_Range'}, inplace=True)

# conexão 
conn = sqlite3.connect('reading_habits.db')

#escrever o df em uma tabela sql
df.to_sql('reading_habits', conn, index=False, if_exists='replace') 

#executar a consulta 
query_sql = """
SELECT COUNT(Ebook_readers) AS 'Ebook readers'
FROM reading_habits
WHERE Ebook_readers = 'Yes' and Age >= 60
"""

query_sql2 = """
SELECT COUNT(Ebook_readers) AS 'Ebook readers'
FROM reading_habits
WHERE Ebook_readers = 'No' and Age >= 60
"""

query_sql3 = """
SELECT COUNT(Ebook_readers) AS 'Ebook readers'
FROM reading_habits
WHERE Ebook_readers = 'Yes' and Age <= 30
"""
query_sql4 = """
SELECT COUNT(Ebook_readers) AS 'Ebook readers'
FROM reading_habits
WHERE Ebook_readers = 'No' and Age <= 30
"""

Readers_60_age = pd.read_sql_query(query_sql, conn)
print('Readers of ebook 50-60 years old\n', Readers_60_age)

No_Readers_60_age = pd.read_sql_query(query_sql2,  conn)
print('\n No Readers of ebook 50-60 years old\n',No_Readers_60_age)

Readers_20_age = pd.read_sql_query(query_sql3, conn)
print('Readers of ebook 18-30 years old\n', Readers_20_age)

No_Readers_20_age = pd.read_sql_query(query_sql4,  conn)
print('\nNo Readers of ebook 18-30 years old\n',No_Readers_20_age)

#fechar a conexão
conn.close()

Readers of ebook 50-60 years old
    Ebook readers
0            186

 No Readers of ebook 50-60 years old
    Ebook readers
0            489
Readers of ebook 18-30 years old
    Ebook readers
0            181

No Readers of ebook 18-30 years old
    Ebook readers
0            402